<div class="row pt-3 pb-4">
 
    
    <div class="col-md-3">
        <p class="text-muted">
            Etkinliklerden haberdar olmak için mail adresinizi bırakabilirsiniz.
            
        </p>
    </div>
    <div class="col-md-3">
        <!-- Form -->
        <form class="row row-cols-lg-auto g-2 align-items-center justify-content-end">
            <div class="col-12">
            <input type="email" class="form-control" placeholder="Enter your email address">
          </div>
          <div class="col-12">
            <button type="submit" class="btn btn-primary m-0">Abone ol</button>
          </div>
          <div class="form-text mt-2">Mail aboneliği ile gizlilik politikasını kabul etmiş olurusunuz 
              <a href="#" class="text-decoration-underline text-reset">Gizlilik politikası</a>
          </div>
        </form>
    </div>
</div>