<div class="mb-4">
    <h5 class="mb-4 text-white">Mobil uygulama indir</h5>
    <p class="text-muted">        
    Mobil uygulama geliştirme aşamasındadır.
     Uygulama ile yarış ve antreman takvimine daha hızlı ulaşabilirsiniz.
    </p>
    <div class="row g-2">
        <div class="col">
            <a href="#"><img class="w-100" src="assets/images/additional/app-store.svg" alt="app-store"></a>
        </div>
        <div class="col">
            <a href="#"><img class="w-100" src="assets/images/additional/google-play.svg" alt="google-play"></a>
        </div>
    </div>
</div>