<div class="mb-4">
    <h5 class="mb-4 text-white">Our mobile App</h5>
    <p class="text-muted">Download our App and get the latest Breaking News Alerts and latest headlines and daily articles near you.</p>
    <div class="row g-2">
        <div class="col">
            <a href="#"><img class="w-100" src="assets/images/additional/app-store.svg" alt="app-store"></a>
        </div>
        <div class="col">
            <a href="#"><img class="w-100" src="assets/images/additional/google-play.svg" alt="google-play"></a>
        </div>
    </div>
</div>