
<div class="card-group">

    <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
        <div class="card-body">     
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <div class="card-footer">Mevlüt KOLAY<br/>Eğitmen / Kulüp Başkanı </div>
      </div>

    <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
        <div class="card-body">     
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <div class="card-footer">Mehmet KARAKUŞ<br/>Eğitmen</div>
      </div>
    

  <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
    <div class="card-body">     
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
    <div class="card-footer">Eren Talha TOPUZ <br/> Eğitmen / Yarışçı</div>
  </div>


  <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
    <div class="card-body">     
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
    <div class="card-footer">Resul KURTULUŞ <br/> Eğitmen / Yarışçı</div>
  </div>

</div>