
<div class="card-group" style="text-align: center;">

    <div class="card text-white bg-dark mb-3" style="max-width: 11rem;">
        <div class="card-body">     
          <img width="120px;"  
          src="assets/images/stuff_learners/mevlutkolay.png"
           class="img-circle rounded-circle me-2" alt="footer logo">
        </div>

        <div class="card-footer">Mevlüt KOLAY<br/>Eğitmen / Kulüp Başkanı </div>
      </div>

    <div class="card text-white bg-dark mb-3" style="max-width: 11rem;">

      <div class="card-body">     
        <img width="120px;"  
        src="assets/images/stuff_learners/mehmet-karakus-trainer.png"
         class="img-circle rounded-circle me-2" alt="footer logo">
      </div>

        <div class="card-footer">Mehmet KARAKUŞ<br/>Eğitmen</div>
      </div>
    

  <div class="card text-white bg-dark mb-3" style="max-width: 11rem;">
       <div class="card-body">     
          <img width="120px;"  
          src="assets/images/stuff_learners/eren-talha-topuz-trainer.png"
           class="img-circle rounded-circle me-2" alt="footer logo">
        </div>
    <div class="card-footer">Eren Talha TOPUZ <br/> Eğitmen / Yarışçı</div>
  </div>


  <div class="card text-white bg-dark mb-3" style="max-width: 11rem;">
    <div class="card-body">     
      <img width="120px;"  
      src="assets/images/stuff_learners/resul-kurtulus-trainer.png"
       class="img-circle rounded-circle me-2" alt="footer logo">
    </div>
    <div class="card-footer">Resul KURTULUŞ <br/> Eğitmen / Yarışçı</div>
  </div>

</div>