<div  class="featured-div">
    <img src="assets/images/news-images/2021_kumluca_417haber_2.jpg" alt="" class="featured-img">
    <span>Kumluca da Motocross 4. yarışı düzenlendi</span>
</div>


<div  class="featured-div">
    <img src="assets/images/news-images/2021_kumluca_417haber_7.jpg" alt="" class="featured-img">
    <span>Kumluca da Motocross 4. yarışı düzenlendi</span>
</div>
<div  class="featured-div">
    <img src="assets/images/news-images/2021_kumluca_417haber_19.jpg" alt="" class="featured-img">
    <span>Kumluca da Motocross 4. yarışı düzenlendi</span>
</div>
<div  class="featured-div">
    <img src="assets/images/news-images/2021_kumluca_417haber_2.jpg" alt="" class="featured-img">
    <span>Kumluca da Motocross 4. yarışı düzenlendi</span>
</div>



<div  class="featured-div">
    <img src="assets/images/news-images/2021_kumluca_417haber_7.jpg" alt="" class="featured-img">
    <span>Kumluca da Motocross 4. yarışı düzenlendi</span>
</div>