.featured-img {
    width:100px;
    margin-top: 1px;
    display: inline-block;
}

.featured-div {
    color:white;
    border-top: 1px solid rgb(248, 219, 219);
}

span {
    display: inline-block;
}