<div class="bg-light px-4 text-uppercase font-weight-bold" style="padding: 1.20em;">
Sipariş özeti
</div>
<div class="p-4">
    <p class="font-italic mb-4">
        Kargo ücreti daha sonra eklenecektir.. </p>
        <ul class="list-unstyled mb-4" 
           >

            <li class="d-flex justify-content-between py-3 border-bottom">
                <strong class="text-muted">
                    Sipariş alt toplamı
                </strong>
                <strong>
                  {{ subtotal | currency }}
                </strong>
            </li>

            <li class="d-flex justify-content-between py-3 border-bottom">
                <strong class="text-muted">
                    Kargo ve paketleme
                </strong>
                <strong>
                  {{ shippingPrice | currency}}
                </strong>
            </li>

            <li class="d-flex justify-content-between py-3 border-bottom">
                <strong class="text-muted">
                    Net toplam
                </strong>
                <strong>
                  {{ total | currency}}
                </strong>
            </li>

        </ul>
   
</div>
