<p>center-alliance works!</p>

<div class="card-group bg-dark">

    <div class="card text-white mb-3" style="max-width: 18rem; background-color: inherit;">     
        <div class="card-body">           
            <img width="120px;"  src="assets/images/logo.png" class="img-circle rounded-circle me-2" alt="footer logo">
        </div>
    </div>

    <div class="card text-white mb-3" style="max-width: 18rem;  background-color: inherit;">       
        <div class="card-body">          
            <img width="120px;" src="assets/images/logo_brands/channels4_profile.jpg" class="img-circle rounded-circle me-2" alt="footer logo">
        </div>
    </div>

    <div class="card text-white mb-3" style="max-width: 18rem; background-color: inherit;">     
        <div class="card-body">           
            <img width="220px;"  src="assets/images/logo_brands/kartepe-atv-logo.png" class="img-circle  me-2" alt="footer logo">
        </div>
    </div>

    <div class="card text-white mb-3" style="max-width: 18rem;  background-color: inherit;">       
        <div class="card-body">          
            <img width="140px;" src="assets/images/logo_brands/endurocross.jpg" class="img-circle rounded-circle me-2" alt="footer logo">
        </div>
    </div>

    <div class="card text-white mb-3" style="max-width: 18rem;  background-color: inherit;">       
        <div class="card-body">          
            <img width="140px;" src="assets/images/logo_brands/kartenduro.png" class="img-circle rounded-circle me-2" alt="footer logo">
        </div>
    </div>



</div>