<div class="card-group">

    <div class="card text-white mb-3" style="max-width: 18rem; background-color: inherit;">     
        <div class="card-body">           
            <img src="assets/images/logo.png" class="img-circle rounded-circle me-2" alt="footer logo">
        </div>
    </div>

    <div class="card text-white mb-3" style="max-width: 18rem;  background-color: inherit;">       
        <div class="card-body">          
            <img width="150px;" src="assets/images/logo_brands/channels4_profile.jpg" class="img-circle rounded-circle me-2" alt="footer logo">
        </div>
    </div>

    <div class="card text-white mb-3" style="max-width: 18rem; background-color: inherit;">     
        <div class="card-body">           
            <img src="assets/images/logo.png" class="img-circle rounded-circle me-2" alt="footer logo">
        </div>
    </div>

    <div class="card text-white mb-3" style="max-width: 18rem;  background-color: inherit;">       
        <div class="card-body">          
            <img width="150px;" src="assets/images/logo_brands/channels4_profile.jpg" class="img-circle rounded-circle me-2" alt="footer logo">
        </div>
    </div>



</div>