<div class="container">
    <div class="d-flex flex-row" >
        <app-carousel-top></app-carousel-top>
        </div>


    <div class="d-flex flex-row">

        <div class="col-3">
            <app-left-menu></app-left-menu>
        </div>
        <div class="col-5">
            <app-race-team></app-race-team>    
            <app-youtube-video01></app-youtube-video01>
        </div>
        <div class="col-3">
            <app-trainings></app-trainings>
            <app-race-team></app-race-team>
            <app-news-featured></app-news-featured>
        </div>  
   

    </div>



    
    <div class="d-flex flex-row align-items-center">
        <app-our-stuffs></app-our-stuffs>
    </div>

    <div class="d-flex flex-row align-items-center">
        <app-center-alliance></app-center-alliance>
    </div>

    <div class="d-flex flex-row align-items-center">
        <app-subscribe-site></app-subscribe-site>
        <app-center-map></app-center-map>

    </div>


   

    
    <div class="d-flex flex-row align-items-center">
        <app-center-brands></app-center-brands>
    </div>

    <div class="card-group">

        <div class="card text-white bg-black mb-3" style="max-width: 18rem;">
            <div class="card-body">     
                <h4>Bağlantılar</h4>
                <p>Kartepe Enduro Kulübü</p>
                <p>Lifenduro</p>
                <p>endurocrossacademy</p>
           </div>
         
          </div>
    
        <div class="card text-white bg-black  mb-3" style="max-width: 18rem;">
            <div class="card-body">     
                <h4>Sosyal Medyada Biz</h4>
                <p>Instagram</p>
                <p>Facebook</p>
                <p>Twitter</p>
            
            </div>
   
          </div>
        
    
      <div class="card text-white bg-black  mb-3" style="max-width: 18rem;">
        <div class="card-body">     
            <app-footer-social-media></app-footer-social-media>
       </div>
       
      </div>
    
    
      <div class="card text-white bg-black  mb-3" style="max-width: 18rem;">
        <div class="card-body">     
            <app-footer-mobile-app></app-footer-mobile-app>
        </div>
       
      </div>
    
    </div>






 
</div>


